@import url('https://fonts.googleapis.com/css2?family=Asap:wght@300;400;500&family=Concert+One&family=Lobster+Two&family=Noto+Sans:wght@200;300;400;500;600&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Asap', sans-serif;

    /* font-family: 'Concert One', cursive; */
    /* font-family: 'Lobster Two', cursive; */
    /* font-family: 'Noto Sans', sans-serif; */
    /* font-family: 'Pacifico', cursive; */
}

:root {
    --red: #f44336;
    --pink: #e91e62;
    --purple: #9c27b0;
    --voilet: #673ab6;
    --dark_blue: #3f50b5;
    --light_blue: #2096f3;
    --dim_light_blue: #00a8f4;
    --blue_green: #00bcd4;
    --green: #009688;
    --light_green: #4caf4f;
    --soft_green: #8ac049;
    --yelowish_green: #cddc39;
    --yellow: #ffeb3a;
    --orange: #ffc007;
    --red_pink: #ff2e55;
    --blacknav: #323232;
}

.Navbar,
.Form,
.Form form .Right,
.Form form .Right .Name .FName,
.Form form .Right .Name .LName,
.Form form .Right .Email .Ebox,
.Form form .Right .Website .link,
.Form form .Right i,
.Form form .Right .Skills .skill,
.Form form .Right .btn,
.Form form .Right .btn .Btn,
.Form .Left,
.Form .Left .gender,
.Form .Left .profile,
.Form .Left .profile .Pic,
.Profile .Title,
.Profile .details,
.Profile .details .card .Right,
.Profile .details .card .Left,
.Profile .details .card .Left .image,
.Profile .details .card .Left .Gen ,
.Profile .details .card .Left .image .Pic{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Navbar {
    width: 100%;
    height: 65px;
    /* background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: #fff;
}

.Navbar img {
    width: 55px;
    margin-right: 10px;
}

@media screen and (max-width:600px) {
    .Navbar h1 {
        font-size: 25px;
    }
}

.Form {
    width: 100%;
    min-height: 350px;
    background-color: #00a8f4;
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
    background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 50%, rgba(255, 255, 255, 0.02) 61%, rgba(0, 0, 0, 0.02) 73%), linear-gradient(33deg, rgba(255, 255, 255, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
    background-blend-mode: normal, color-burn;
    ;
    background-blend-mode: screen;

}

.Form form {
    width: 700px;
    min-height: 350px;
    /* background-color: var(--yelowish_green); */
    display: flex;
    /* justify-content: space-between; */
}

@media screen and (max-width:650px) {
    .Form form {
        flex-direction: column;
    }
}

.Form form .Left {
    width: 250px;
    min-height: 350px;
    /* background-color: #00f435; */
}

.Form form .Right {
    width: calc(100% - 300px);
    min-height: 350px;
    /* background-color: #673ab6; */
    flex-direction: column;
    gap: 12px;

}

@media screen and (max-width:650px) {

    .Form form .Left,
    .Form form .Right {
        width: 100%;
    }
}

.Form form .Right .Row {
    width: 100%;
    height: 45px;
    /* background-color: sandybrown; */
}

.Form form .Right .Row i {
    position: absolute;
    right: 0px;
}

.Form form .Right .Name {
    display: flex;
    justify-content: space-evenly;
}

.Form form .Right .Name .FName,
.Form form .Right .Name .LName {
    width: 170px;
    height: 100%;
    /* background-color: #9c27b0; */
    position: relative;
    border-radius: 10px;
}

.Form form .Right .Skills .list {
    width: 170px;
    height: 100%;
    /* background-color: #9c27b0; */
    position: relative;
    border-radius: 10px;
    background-color: #fff;
}

.Form form .Right .Name input {
    height: 100%;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 8px;
    padding-top: 5px;
    box-sizing: border-box;
    font-weight: 550;
}

.Form form .Right label {
    position: absolute;
    top: 2px;
    left: 8px;
    font-size: 11px;
    font-weight: 550;
    font-family: 'Noto Sans', sans-serif;
}

.Form form .Right .Box1 {
    width: 390px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: #00a8f4; */
}



.Form form .Right .Email,
.Form form .Right .Website,
.Form form .Right .Skills {
    display: flex;
    justify-content: space-evenly;
}

.Form form .Right .Email .Ebox,
.Form form .Right .Website .link,
.Form form .Right .Skills .skill,
.Form form .Right .btn .Btn {
    width: 390px;
    height: 100%;
    border-radius: 10px;
    /* background-color: seashell; */
    position: relative;
    /* justify-content: start; */
}

@media screen and (max-width:400px) {

    .Form form .Right .Box1,
    .Form form .Right .Email .Ebox,
    .Form form .Right .Website .link,
    .Form form .Right .Skills .skill,
    .Form form .Right .btn .Btn {
        width: 350px;
    }

}

.Form form .Right .Email .Ebox input,
.Form form .Right .Website .link input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 8px;
    padding-top: 5px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 550;

}

.Form form .Right i {
    background-color: #fff;
    width: 30px;
    height: 100%;
    border-radius: 10px;
    color: #29323c;
}

.Form form .Right .Skills .skill p {
    font-size: 14px;
    margin-bottom: 2px;
    margin-right: 10px;
    margin-top: 15px;
}

.Form form .Right .Skills .skill input {
    margin-right: 5px;
    margin-top: 15px;
    cursor: pointer;
}

.Form form .Right .btn .Btn {
    justify-content: space-evenly;
}

.Form form .Right .btn .Btn button {
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right, #16222A 0%, #3A6073 51%, #16222A 100%);
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    cursor: pointer;
}




.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.Form form .Right .btn .Btn button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}



.Form form .Right .btn .Btn button:nth-of-type(2) {
    padding: 12px 33px;
}

.Form .Left {
    flex-direction: column;
}

.Form .Left .profile {
    width: 100%;
    height: 250px;
    /* background-color: #4100f4; */

}

.Form .Left .gender {
    width: 100%;
    height: 40px;
    /* background-color: #f48200; */
    gap: 10px;
    margin-bottom: 42px;
}

@media screen and (max-width:650px) {
    .Form .Left .gender {
        margin-bottom: 0px;
    }

    .Form form .Left {
        min-height: 0px;
    }

    .Form form .Right {
        min-height: 300px;
    }
}

.Form .Left .gender input {
    width: 15px;
    aspect-ratio: 1;
    cursor: pointer;
}

.Form .Left .gender img {
    width: 30px;
}

.Form .Left .profile .Pic {
    width: 200px;
    aspect-ratio: 1;
    /* background-color: #cddc39; */
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: screen;
    border-radius: 50%;
    position: relative;
    flex-direction: column;
    gap: 5px;
    color: #fff;
    border: 2px solid #29323c;
}

.Form .Left .profile .Pic input {
    cursor: pointer;
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.Form .Left .profile .Pic input::-webkit-file-upload-button {
    visibility: hidden;
}

.Form .Left .profile .Pic i {
    font-size: 25px;
    position: absolute;
    top: 40%;

}

.Form .Left .profile .Pic p {
    position: absolute;
    top: 54%;
}

.Form .Left .profile .Pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}





.Profile {
    width: 100%;
}

.Profile .Title {
    width: 100%;
    min-height: 65px;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: #fff;
}


.Profile .Title img {
    width: 50px;
    margin-right: 5px;
}

@media screen and (max-width:600px) {
    .Profile .Title h1 {
        font-size: 25px;
    }
    .Profile .Title img {
        width: 40px;
    }
}

.Profile .details {
    width: 100%;
    min-height: 350px;
    /* background-color: #00a8f4; */
    gap: 15px;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    padding: 25px 0;
    box-sizing: border-box;
}




.Profile .details .card {
    width: 600px;
    min-height: 300px;
    /* background-color: #2CD8D5; */
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 50%, rgba(255, 255, 255, 0.02) 61%, rgba(0, 0, 0, 0.02) 73%), linear-gradient(33deg, rgba(255, 255, 255, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
    background-blend-mode: normal, color-burn;
    ;
    background-blend-mode: screen;
    margin: 10px;
}



.Profile .details .card .Left {
    width: 220px;
    min-height: 300px;
    /* background-color: var(--yelowish_green); */
    /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
}

.Profile .details .card .Right {
    width: calc(100% - 250px);
    min-height: 300px;
    /* background-color: #C5C1FF; */
    flex-direction: column;
    gap: 15px;
}

@media screen and (max-width:650px){
    .Profile .details .card{
        flex-direction: column;
    }
    .Profile .details .card .Left{
        width: 100%;
        min-height: 0px;
    }
    .Profile .details .card .Right {
        width: 100%;
        justify-content: center;
        min-height: 220px;
    }
    .Profile .details{
        padding: 10px 0;
    }
   
}

.Profile .details .card .Right .Row {
    width: 100%;
    height: 40px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
    background-color: #fff;
    border-radius: 10px;
}
@media screen and (max-width:650px){
    .Profile .details .card .Right .Row{
        width: 90%;
    }
    .Profile .details .card {
        padding-bottom: 5px;
    }
}
.Profile .details .card .Left {
    flex-direction: column;
}

.Profile .details .card .Left .image {
    width: 100%;
    height: 200px;
    /* background-color: var(--voilet); */
    margin-top: 20px;
}

.Profile .details .card .Left .Gen {
    width: 100%;
    height: 40px;
    /* background-color:#00bcd4 ; */
}

.Profile .details .card .Left .Gen img {
    width: 25px;
    margin-right: 5px;
}

.Profile .details .card .Left .image .Pic {
    width: 180px;
    aspect-ratio: 1;
    border-radius: 50%;
    
}

.Profile .details .card .Left .image .Pic img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    filter: drop-shadow(0 0 7px #fff);
}

.Profile .details .card i{
    margin-right: 5px;
}